* { margin: 0;
padding: 0;
box-sizing: border-box;
}
#header-img { width: 40vw; 
margin: 0 30vw;
padding: 20px;
}


h1 {
color: darkslategray;
background-color: cornflowerblue;
width: max-content;
padding: 10px;
margin: 20px;
margin-top: 70px;}


.product { display: flex;
justify-content: center;
;}

#header { background-color: darkcyan;
 }

ul { display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style-type: none; 
padding: 0; 
background-color: crimson;
height: 50px; 
align-items: center;
font-size: 22px;


}

li a { text-decoration: none;
color: lightgoldenrodyellow;
 
}

#form { background-color: darkslateblue;
display: flex;
align-items: center;
flex-direction: column;

}

#nav-bar {position: fixed;
width: 100%; 
top: 0;
left: 0; 
}



